.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-item {
    flex: 0.001;
}

@media screen and (max-width: 600px) {
    .flex-item {
        flex-basis: 100%;
    }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
    .flex-item {
        flex-basis: 50%;
    }
}

@media screen and (min-width: 1001px) {
    .flex-item {
        flex-basis: 25%;
    }
}