.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 20px;
}

.flex-item {
    display: flex;
    flex: 0 1 27%;
    justify-content: center;
    align-items: center;
    margin: 12px 8px;
}

@media screen and (max-width: 425px) {
    .flex-item {
        flex-basis: 90%;
    }
}

@media screen and (min-width: 426px) and (max-width: 767px) {
    .flex-item {
        flex-basis: 40%;
    }
}

@media screen and (min-width: 768px) {
    .flex-item {
        flex-basis: 25%;
    }
}