[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
faker = "*"
pprintpp = "*"

[packages]
Django = "*"
djangorestframework = "*"
django-filter = "*"
django-storages = "*"
django-model-utils = "*"
django-dotenv = "*"
gunicorn = "*"
psycopg2 = ">=2.7,<2.8"
pyyaml = "*"
pendulum = "*"
django-heroku = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
pillow = "*"

[requires]
python_version = "3.7"

[scripts]
black = "black"
secret_key = "python generate_secret_key.py"
