.header {
  background-color: #282c34;
  max-height: 10vh;
  color: white;
}

.small_img {
  width: 100px;
}

.user-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.user-list-item {
  padding: 20px;
  display: flex;
  border: solid gray 1px;
  margin: 10px;
}

.main .carousel-control-next-icon {
      height: 50px;
      width: 50px;
      background-size: 100%, 100%;
      display: block !important;
}

.main .carousel-control-prev-icon {
      height: 50px;
      width: 50px;
      background-size: 100%, 100%;
      display: block !important;
}

/* tablet */

@media all and (min-width: 426px) and (max-width: 1023px) {
  .title-carousel {
    font-size: 24px;
    padding: 0px 20px;
    margin: 0;
    width: 100%;
  }
  .paragraph-carousel {
    font-size: 16px;
    width: 100%;
  }
  .overlay {
    height: 100px;
  }
}

/* mobile sm*/

@media all and (min-width: 320px) and (max-width: 374px) {
  .title-carousel {
    font-size: 14px;
    margin: 0 10px;
    padding: 0;
    width: 100%;
  }
  .paragraph-carousel {
    font-size: 10px;
    margin: 0 10px;
    padding: 0;
    width: 100%;
  }
  .overlay {
    height: 50px;
    margin-bottom: 16px;
  }
}

@media all and (min-width: 375px) and (max-width: 425px) {
  .title-carousel {
    font-size: 16px;
    margin: 5px 0 0 10px;
    padding: 0;
    width: 100%;
  }
  .paragraph-carousel {
    font-size: 13px;
    margin: 0 10px;
    padding: 0;
    width: 100%;
  }
  .overlay {
    height: 70px;
    margin-bottom: 16px;
  }
}
