.ym-top {
  background-color: #ffffff;
  font-size: 32px;
  font-family: "GothamMedium";
  height: auto;
  width: 100%;
}

.ym-bottom {
  background-color: #519b56;
  font-size: 32px;
  font-family: "GothamMedium";
  height: auto;
  color: white;
  width: 100%;
}

.nav-link {
  height: 100%;
  padding: 20px;
  color: white !important;
}

.nav-link:hover {
  text-decoration: none;
  color: #fdd368 !important;
}

.nav-link-top {
  padding: 20px;
  color: #000000;
  height: 100%;
}

.nav-link-top:hover {
  text-decoration: none;
  color: #fdd368;
}

div.dropdown-menu.show {
  background-color: #519b56;
}

a.dropdown-item {
  font-size: 32px;
  color: white;
}

.logo {
  width: 180px;
  height: 180px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  top: 25px;
  left: 24px;
  z-index: 50;
}

.social-media {
  color: #519b56;
  width: 25px;
  height: 25px;
}

#donate-button {
  font-size: 20px;
  font-weight: bold;
  background-color: #fdd368;
  border-radius: 7px;
  border: none;
  width: 140px;
  height: 54px;
  text-align: center;
}

.center-button {
  margin-top: auto;
  margin-bottom: auto;
}

@media all and (min-width: 768px) and (max-width: 2048px) {
  .ym-top {
    height: 140px;
  }

  .ym-bottom {
    height: 140px;
  }

  .logo {
    height: 150px;
    width: 150px;
  }
}

@media all and (min-width: 1440px) and (max-width: 2048px) {
  .logo {
    height: 180px;
    width: 180px;
  }

  .nav-link-top {
    margin-left: 100px;
    margin-right: 100px;
  }

  .nav-link {
    margin-right: 15px;
  }

  .align-links {
    padding-left: 180px;
    color: white;
  }
}

@media all and (min-width: 320px) and (max-width: 768px) {
  .ym-top {
    font-size: 16px;
    height: 35%;
  }

  .nav-link-top {
    padding: 0px;
  }

  .ym-bottom {
    font-size: 16px;
    height: auto;
  }

  #donate-button {
    font-size: 12px;
    width: 80px;
    height: 40px;
  }

  .center-button {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #tsocial {
    display: none;
  }

  .logo {
    display: none;
  }
}
