.ym-top {
	background-color: #ffffff;
	font-size: 24pt;
	font-family: 'GothamMedium';
	height: auto;
	width: 100%;
}

.ym-bottom {
	background-color: #519b56;
	font-size: 24pt;
	font-family: 'GothamMedium';
	height: auto;
	color: white;
	width: 100%;
}

.nav-link {
	height: 100%;
	padding: 20px;
	color: white !important;
}

.nav-link:hover {
	text-decoration:none;
	color: #fdd368;
}

.nav-link-top {
	padding: 20px;
	color: #000000;
	height: 100%;
}

.nav-link-top:hover {
	text-decoration:none;
	color: #fdd368;
}

.logo {
	width: 180px;
	height: 180px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	top: 25px;
	left: 24px;
	z-index: 50;
}

.social-media {
	color: #519b56;
	width: 25px;
	height: 25px;

}

.align-me{
	display: flex;
	align-items: center;
}

#donate-button {
	font-size: 20px;
	font-weight: bold;
	background-color: #fdd368;
	border-radius: 2px;
	width: 140px;
	height: 54px;
	text-align: center;
}
.ml-1 {
	margin-left: 175px !important;
}

@media all and (min-width: 768px) and (max-width: 2048px) {
	.ym-top {
		height: 140px;
	}

	.ym-bottom {
		height: 140px;
	}

	.logo {
		height: 150px;
		width: 150px;
	}
}

@media all and (min-width: 1024px) and (max-width: 2048px) {
	.logo {
		height: 180px;
		width: 180px;
	}
}

@media all and (min-width: 320px) and (max-width: 768px) {
	.ym-top {
		font-size: 12pt;
		height: 35%;
	}

	.ym-bottom {		
		font-size: 12pt;
		height: auto;
	}

	#donate-button {
		font-size: 12px;
		width: 80px;
		height: 40px;
	}
	
	#tsocial {
		display: none;
	}

	.logo {
		display: none;
	}
}
