.header-container {
  width: 100%;
  white-space: nowrap;
}

.org-name {
  font-size: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

.nav-link {
  padding: 20px;
  color: hsl(101, 43%, 42%);
  height: 100%;
  padding: 20px;
  color: white !important;
  height: 100%;
}

.nav-link-top {
  padding: 20px;
  color: #000000;
  height: 100%;
}

.nav-link:hover {
  color: white;
}

.nav-link-selected {
  color: green;
}

.card-header {
  padding: 0.75rem 2.25rem !important;
}

.logo {
  width: 180px;
  height: 180px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 25px;
  left: 24px;
  z-index: 50;
}

@media all and (min-width: 768px) and (max-width: 2048px) {
  .ym-top {
    background-color: #ffffff;
    font-size: 24pt;
    font-family: "GothamMedium";
    height: 140px;
    width: 100%;
  }
}

@media all and (min-width: 320px) and (max-width: 425px) {
  .ym-top-mobile {
    background-color: #ffffff;
    font-size: 12pt;
    font-family: "GothamMedium";
    height: 140px;
    width: auto;
  }

  #tsocial {
    display: none;
  }

  .nav-link-top {
    padding: 0px;
  }

  .logo {
    display: none;
  }
}

.ym-bottom {
  background-color: #519b56;
  font-size: 24pt;
  font-family: "GothamMedium";
  height: 140px;
  color: white;
  width: 100%;
}

.donate-button {
  font-size: 20px;
  font-weight: bold;
  background-color: #fdd368;
  border-radius: 2px;
  width: 140px;
  height: 54px;
  text-align: center;
}

.facebook {
  color: #3c579d;
  margin-right: 25px;
  margin-bottom: 25px;
  width: 25px;
  height: 25px;
}

.insta {
  background-image: linear-gradient(
    to left bottom,
    #f9ed32,
    #ffc726,
    #ffa135,
    #ff7b4a,
    #ff585e,
    #fc3e6d,
    #f42280,
    #e50094,
    #d600ab,
    #bc00c5,
    #8e00e2,
    #002aff
  );
  color: white;
  border-radius: 5px;
  padding: 2px;
  margin-right: 25px;
  margin-bottom: 25px;
  width: 25px;
  height: 25px;
}

.twitter {
  color: #52a7e7;
  margin-bottom: 25px;
  width: 25px;
  height: 25px;
}
