
 
  
  span{
      justify-content: center;
  }
  
  .main-content {
      margin: auto;
  }
  
  
  label{
      display:block;
  }
  
  /*for the button */
  
  .button{
      width:140px;
      height:75px;
      border-radius:10px;
      box-shadow:none;
      background:#FDD368;
      border:none;
      
  }
  
  .buttonSpan{
    font-weight:bold;
    font-size:25px;
  }
  
  /* */
  
  .inputs{
      height:60px;
      background:#eeeaea;
      border:none;
      color:black;
  }
  
  .inputs-text{
      height:220px;
      background:#eeeaea;
      border:none;
  }
  
  /*label font*/
  
  .labelFont{
      font-weight:bold;
      padding:0;
  }
  
  /*fontcss for marksdown*/
  
  #fontcss {
      line-height:50px !important;
  }
  
  .main-content{
      line-height: 2.0;
  }

  .group::after{
    content: "";
    display: table;
    clear: both;
  }