.messageInput {
    width: 40%;
}

.jumbotron {
    margin: auto 0;
    justify-content: left;
}

span{
    justify-content: center;
}

.main-content {
    margin: auto;
}


.block{
    display:block;
}