.messageInput {
  width: 40%;
}

.jumbotron {
  margin: auto 0;
  justify-content: left;
}

span {
  justify-content: center;
}

.main-content {
  margin: auto;
}

.resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}
