.mainContainer {
  padding: 0px 50px 25px 50px;
}
#aboutPageTextRow {
  margin: 0px;
  display: block;
}
.sub-heading {
  font-size: 24px;
  padding: 0px;
  width: 100%;
}

.about-people-row {
  margin: 40px 0px;
}

.images {
  display: flex;
  align-items: center;
}

.images img {
  width: 85%;
  border: 5px solid #d3d3d3;
}

.about-heading {
  font-size: 48px;
  font-weight: bold;
  width: 100%;
  padding-top: 20px;
}

.people-heading {
  font-size: 40px;
  font-weight: bold;
  display: inline-block;
  width: 100%;
}

.people-col {
  display: block;
  margin-bottom: auto;
  margin-top: auto;
}

@media (min-width: 2000px) {
  .mainContainer {
    max-width: 2000px;
  }

  .mainContainer p {
    font-size: 32px;
    margin-bottom: 10px;
  }

  h1.heading,
  h1.about-heading {
    font-size: 80px;
  }
  .sub-heading {
    font-size: 43px;
    margin-bottom: 16px;
  }
  .people-heading {
    font-size: 64px;
  }
  .about-heading {
    padding-top: 50px;
  }
}

/* tablet */

@media all and (min-width: 600px) and (max-width: 1023px) {
  .mainContainer {
    padding: 0px 20px;
  }

  .sub-heading {
    font-size: 24px;
    padding: 0px;
  }

  .images img {
    width: 100%;
  }

  .mainContainer p {
    font-size: 16px;
  }

  h1.heading h1.about-heading {
    font-size: 45px;
  }
  .people-col {
    margin-left: 30px;
    padding: 0px;
  }

  .people-heading {
    font-size: 38px;
    margin-top: 0px;
  }

  .about-people-row {
    margin: 30px 0px;
  }
}

/* mobile */

@media all and (min-width: 300px) and (max-width: 767px) {
  .mainContainer {
    padding: 0px 20px;
  }
  .images {
    margin-bottom: 15px;
    padding: 0px 20px;
  }
  .images img {
    width: 100%;
  }

  h1.heading,
  h1.about-heading {
    font-size: 32px;
  }
  .about-people-row .sub-heading,
  #aboutPageTextRow .sub-heading {
    font-size: 20px;
  }

  .people-heading {
    font-size: 28px;
    font-weight: bold;
  }
  .mainContainer p {
    font-size: 16px;
  }

  .about-people-row {
    margin: 20px 0px;
  }
}
