#aboutPageTextRow {
  padding-left: 133px;
  padding-right: 133px;
  display: block;
}

.images {
  margin: 0;
  margin-bottom: 140px;
}

.images img {
  width: 400px;
  height: 400px;
}

.sub-heading {
  font-size: 24px;
}

.people-heading {
  font-size: 48px;
  font-weight: bold;
}

/* tablet */

@media all and (min-width: 426px) and (max-width: 1023px) {
  #aboutPageTextRow {
    padding-left: 133px;
    padding-right: 133px;
  }

  .images {
    margin: 0;
    margin-bottom: 20px;
  }
  .images img {
    width: 300px;
  }
  .heading {
    font-size: 30px;
  }
  .sub-heading {
    font-size: 24px;
  }
  p {
    font-size: 16px;
  }
}

/* mobile */

@media all and (min-width: 300px) and (max-width: 425px) {
  #aboutPageTextRow {
    padding-left: 20px;
    padding-right: 20px;
  }
  .images {
    margin: 0;
    margin-bottom: 10px;
  }
  .images img {
    width: 250px;
  }
  .heading {
    font-size: 26px;
  }
  .sub-heading {
    font-size: 18px;
  }
  .people-heading {
    font-size: 26px;
    font-weight: bold;
  }
  p {
    font-size: 14px;
  }
}
