.images {
  margin: 0;
  margin-bottom: 40px;
}

.images img {
  width: 400px;
}

.sub-heading {
  font-size: 24px;
}

/* tablet */

@media all and (min-width: 426px) and (max-width: 1023px) {
  .images img {
    width: 300px;
  }
  .heading {
    font-size: 30px;
  }
  .sub-heading {
    font-size: 24px;
  }
  p {
    font-size: 16px;
  }
}

/* mobile */

@media all and (min-width: 300px) and (max-width: 425px) {
  .images img {
    width: 250px;
  }
  .heading {
    font-size: 26px;
  }
  .sub-heading {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
}
