.meetTheTeam {
  padding: 20px 15px;
  font-size: 1.2rem;
}

.heading {
  font-weight: bold;
  font-size: 48px;
  padding: 15px 0;
  margin-top: 25px;
}

.line-paragraph {
  font-size: 32px;
}

.teamPhotosArea {
  background-color: #eeeaea;
}

.teamPhotos h2 {
  padding: 20px;
}

.imageColumn {
  padding-bottom: 20px;
  cursor: pointer;
}

.gallery-picture {
  width: 100%;
  height: auto;
}

.facebookLink{
  font-size: larger;
  font-weight:700;
  margin: 0;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
}


.imageColumn a {
  color: black;
}

/* tablet */
@media all and (min-width: 426px) and (max-width: 768px) {
  .facebookLink{
    line-height:95%;
  }

  .heading {
    font-size: 24px;
    padding: 10px 0;
  }

  .line-paragraph {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

/* mobile */
@media all and (min-width: 300px) and (max-width: 425px) {
  .facebookLink {
    font-size: larger;
  }

  .heading {
    font-size: 36px;
    padding: 5px 0;
  }

  .line-paragraph {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: left;
  }
}
