.eventCard {
  border-radius: 5px;
  padding: 18px;
  box-shadow: gray;
  max-width: 400px;
  position: relative;
  box-shadow: 0 0 4px rgba(33, 33, 33, 0.2);
  background: white;
  margin-bottom: 30px;
}

.event-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: gray;
  border-radius: 5px;
}

.eventCard:hover .overlay {
  opacity: 0.95;
}

.eventTextBoxes {
  height: 110px;
}

.learnMore {
  position: absolute;
  width: max-content;
  bottom: 20px;
  right: 97.5px;
  left: 97.5px;
  background: #519B56;
  border-color: #eeeaea;
  color: #eeeaea;
  font-weight: bold;
}

.learnMore:hover {
  background: #519B56;
  border-color: #fdd368;
  color: #fdd368;
}

@media all and (max-width: 767px) {
  .learnMore {
    right: 80.5px;
    left: 80.5px;
    bottom: 10px;
  }
}
