.eventCard {
  border-radius: 5px;
  padding: 18px;
  box-shadow: gray;
  max-width: 400px;
  position: relative;
  box-shadow: 0 0 4px rgba(33, 33, 33, 0.2);
  background: white;
  margin-bottom: 30px;
}

.event-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: gray;
  border-radius: 5px;
}

.eventCard:hover .overlay {
  opacity: 0.95;
}

.eventTextBoxes {
  height: 110px;
}

.learnMore {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.learnMoreButton {
  position: relative;
  margin: auto;
  display: flex;
  background: #519b56;
  border-color: #eeeaea;
  color: #eeeaea;
  font-weight: bold;
}

.learnMoreButton:hover {
  background: #519b56;
  border-color: #fdd368;
  color: #fdd368;
}

/* mobile views and tablet */

@media all and (min-width: 300px) and (max-width: 320px) {
  .eventCard {
    max-width: 300px;
  }
}

@media all and (min-width: 321px) and (max-width: 375px) {
  .eventCard {
    margin-left: -11px;
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  .eventCard {
    margin-left: -10px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .eventCard {
    max-width: 364px;
  }
}
