a {
  text-decoration: none !important;
}

.sectionFlex {
  display: block;
  justify-content: center;
  margin: 10px auto;
}

.headingFlex {
  width: fill;
  margin: 0 14px;
}

.featured-event-top {
  width: fill;
}

.space-anchors {
  font-size: 24pt;
  margin: 0 20px 0 0 !important;
  color: #519b46;
  font-family: "Gotham Light Font", sans-serif;
}

.row-learn-more {
  display: flex;
  flex-flow: row;
  margin-left: 14px;
}