.content-styling {
    font-size: 32px;
    margin-left: 266px;
    margin-right: 266px;    
}

.content-styling p {
    padding-bottom: 25px;
}

h1 {    
    font-size: 48px;
    padding-bottom: 25px;
    padding-top: 25px;
    text-align: center;
}