* {
  font-family: "Montserrat Medium", sans-serif;
}

.lower-mid {
  background-color: #eeeaea;
}

.ym-button {
  font-size: 20px;
  font-weight: bold;
  background-color: #fdd368;
  border-radius: 2px;
  width: 180px;
  height: 54px;
  text-align: center;
  margin-bottom: 35px;
  margin-top: 5px;
  margin-right: 15px;
}

.heading {
  font-weight: bold;
  font-size: 36pt;
  padding: 15px 0;
  margin-top: 25px;
}

.line-paragraph {
  font-size: 24pt;
}

.nonprofit-disclaimer {
  text-align: center;
  font-size: 15pt;
  color: #697689;
}

.sub-heading {
  font-size: 24pt;
  padding-bottom: 15px;
  padding-top: 20px;
  font-weight: bold;
}

/* links to facebook and eventbrite */
.button-anchors {
  font-size: 24pt;
  font-weight: bold;
  color: black;
  text-decoration: none !important;
  font-family: "Gotham Light Font", sans-serif;
}

/* buttons for news and events */
.ym-button {
  margin-right: 25px;
  font-family: "Gotham Light Font", sans-serif;
}

.footer-image-header {
  box-sizing: border-box;
  text-align: center !important;
}

.link-style {
  color: #519b46;
  font-size: 22pt;
}

.foot-head {
  font-size: 36pt;
}

.test {
  margin-left: 16.67%;
  margin-right: 16.67%;
  justify-content: center;
}

/* tablet */

@media all and (min-width: 320px) and (max-width: 768px) {
  .heading {
    font-size: 18pt;
    padding: 10px 0;
  }
  .sub-heading {
    font-size: 12pt;
    padding-bottom: 0;
  }
  .line-paragraph {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .nonprofit-disclaimer {
    font-size: 8px;
  }

  .ym-button {
    margin: 3pt 0;
  }
  .test {
    margin-left: 8.33%;
    margin-right: 8.33%;
    justify-content: center;
  }
  .button-anchors {
    font-size: 14pt;
  }
  .ym-button {
    font-size: 15px;
    font-weight: bold;
    background-color: #fdd368;
    border-radius: 2px;
    width: 120px;
    height: 40px;
    text-align: center;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
}

/* mobile */

@media all and (min-width: 320px) and (max-width: 425px) {
  .heading {
    font-size: 26pt;
    padding: 5px 0;
  }
  .nonprofit-disclaimer {
    font-size: 10pt;
  }
  .ym-button {
    margin: 3pt 0;
  }
  .sub-heading {
    font-size: 18pt;
    padding-bottom: 0;
  }
  .container {
    text-align: center;
  }
  .test {
    margin-left: 8.33%;
    margin-right: 8.33%;
    justify-content: center;
  }
  .button-anchors {
    font-size: 12pt;
  }
  .ym-button {
    font-size: 10px;
    font-weight: bold;
    background-color: #fdd368;
    border-radius: 2px;
    width: 70px;
    height: 35px;
    text-align: center;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
}
