* {
  font-family: "Montserrat Medium", sans-serif;
}

.lower-mid {
  background-color: #eeeaea;
}

.ym-button {
  font-size: 20px;
  font-weight: bold;
  background-color: #fdd368;
  border-radius: 2px;
  width: 140px;
  height: 54px;
  text-align: center;
  margin-right: 35px;
  margin-bottom: 35px;
}

.heading {
  font-size: 36pt;
  padding-bottom: 5px;
}

.line-paragraph {
  font-size: 24pt;
}

.upper-mid-sectiontext {
  font-size: 15pt;
}

.sub-heading {
  font-size: 24pt;
  padding-bottom: 15px;
}

.space-anchors {
  font-size: 24pt;
  margin-bottom: 10px !important;
  color: #519b46;
}

.footer-image-header {
  box-sizing: border-box;
  text-align: center !important;
}

.link-style {
  color: #519b46;
  font-size: 22pt;
}

.pic-container {
  justify-content: center;
}

.foot-head {
  font-size: 36pt;
}

.pic {
  width: 224px;
  height: 146px;
}

.test {
  margin-left: 16.67%;
  margin-right: 16.67%;
  justify-content: center;
}

.pic-cont {
  margin-left: 16.67%;
  margin-right: 16.67%;
  justify-content: center;
}

/* mobile */

@media all and (min-width: 320px) and (max-width: 425px) {
  .heading {
    font-size: 24pt;
  }
  .line-paragraph {
    font-size: 12pt;
  }
  .upper-mid-sectiontext {
    font-size: 10pt;
  }
  .ym-button {
    margin: 3pt 0;
  }
  .sub-heading {
    font-size: 18pt;
    padding-bottom: 0;
  }
  .container {
    text-align: center;
  }
  .test {
    margin-left: 8.33%;
    margin-right: 8.33%;
    justify-content: center;
  }
  .pic-cont {
    margin-left: 8.33%;
    margin-right: 8.33%;
    justify-content: center;
  }
  .space-anchors {
    font-size: 12pt;
    color: #519b46;
  }
}

/* tablet */

@media all and (min-width: 320px) and (max-width: 768px) {
  .heading {
    font-size: 18pt;
  }
  .sub-heading {
    font-size: 12pt;
    padding-bottom: 0;
  }
  .line-paragraph {
    font-size: 9pt;
  }
  .upper-mid-sectiontext {
    font-size: pt;
  }
  .ym-button {
    margin: 3pt 0;
  }
  .test {
    margin-left: 8.33%;
    margin-right: 8.33%;
    justify-content: center;
  }
  .space-anchors {
    font-size: 14pt;
    color: #519b46;
  }
}
