.container-fluid {
  overflow: hidden;
}

.messageInput {
  width: 40%;
}

.flexForm {
  overflow: hidden;
}

@media (max-width: 1000px) {
  .flexForm {
    display: flex;
    flex-direction: column-reverse;
  }

  .volunteerMain {
    order: -1;
    padding-left: 15x;
  }
}

.button {
  font-size: 20px;
  font-weight: bold;
  background-color: #fdd368;
  border-radius: 7px;
}

span {
  justify-content: center;
}

label {
  display: block;
  font-weight: bold;
  padding: 0;
}

.inputs {
  height: 60px;
  background: #eeeaea;
  border: none;
  color: black;
  width: 350px !important;
}

.inputs-text {
  height: 220px;
  width: 100%;
  background: #eeeaea;
  border: none;
}

#message {
  width: 1000px;
  overflow: hidden !important;
}

.main-content {
  line-height: 2;
}

.warning {
  background: #fdd368;
}

.warning:hover {
  background: #fdd368;
}

.warning::after:hover {
  background: #fdd368;
}

.form-control {
  width: 350px;
}

@media (min-width: 768px) {
  .form-control {
    width: 100%;
  }
}
