

.messageInput {
  width: 40%;
}



.button{
  font-size: 20px;
  font-weight: bold;
  background-color: #fdd368;
  border-radius: 7px;
 
}

.jumbotron {
  margin: auto 0;
  justify-content: left;
}

span {
  justify-content: center;
}


.block {
  display: block;
}

.inputs {
  height: 60px;
  background: #eeeaea;
  border: none;
  color: black;
}

.inputs-text {
  height: 220px;
  width: 100%;
  background: #eeeaea;
  border: none;
}


.labelFont {
  font-weight: bold;
  padding: 0;
}

/*fontcss for marksdown*/

#fontcss {
  line-height: 50px !important;
}

.main-content {
  line-height: 2;
}

.warning {
  background: #fdd368;
}

.warning:hover {
  background: #fdd368;
}

.warning::after:hover {
  background: #fdd368;
}



.inputs-text {
  min-width: 900px;
}

@media  (max-width:900px){


  input{
    max-width:70% !important;
  }


    textarea{
      max-width:50% !important;
    }
}



@media (max-width:700px){

  .query{

    overflow:hidden !important;
    width:100%;
  }

}

@media (min-width: 768px){

.col-md-10 {
    flex: 0 0 83.333333%;
    /* max-width: 83.333333%; */
    max-width: 70%;

   }


   #message {
     max-width:75%;
   }

   .row {

    flex-wrap:nowrap;
   }
}