.container-fluid {
  overflow: hidden;
}

.messageInput {
  width: 40%;
}

.flexForm {
  overflow: hidden;
}

.content-format {
  min-width: 90%;
  margin-bottom: 15px;
}

.videoFrame {
  background-color: black;
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 30px;
}

.videoFrameTitle {
  color: #6ab446;
  font-size: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 video ratio*/
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 1000px) {
  .flexForm {
    display: flex;
    flex-direction: column-reverse;
  }

  .volunteerVideos {
    padding-left: 10px;
  }
}

.button {
  font-size: 20px;
  font-weight: bold;
  background-color: #fdd368;
  border-radius: 7px;
}

span {
  justify-content: center;
}

label {
  display: block;
  font-weight: bold;
  padding: 0;
}

.inputs {
  height: 60px;
  background: #eeeaea;
  border: none;
  color: black;
  width: 350px !important;
}

.main-content {
  line-height: 2;
}

.form-control {
  width: 350px;
}

@media (min-width: 768px) {
  .form-control {
    width: 100%;
  }
}
