

.container-fluid {
  overflow:hidden;
  
}


.messageInput {
  width: 40%;
}





.button{
  font-size: 20px;
  font-weight: bold;
  background-color: #fdd368;
  border-radius: 7px;
 
}


span {
  justify-content: center;
}


.block {
  display: block;
}

.inputs {
  height: 60px;
  background: #eeeaea;
  border: none;
  color: black;
  width:70vw !important;
}

.inputs-text {
  height: 220px;
  width: 100%;
  background: #eeeaea;
  border: none;
}


#message{
  width:70vw !important;
  overflow:hidden !important;
}

.labelFont {
  font-weight: bold;
  padding: 0;
}




.main-content {
  line-height: 2;
}

.warning {
  background: #fdd368;
}

.warning:hover {
  background: #fdd368;
}

.warning::after:hover {
  background: #fdd368;
}







.form-control{
  
  width:70vw;
}


@media(min-width:768px){


  .form-control {
   
    width:100%;
  }

}