.checkBack {
  display: flex;
  max-width: 1310px;
  margin: auto;
  padding: 0 14px;
}

@media screen and (max-width: 679px) {
  .checkBack {
    max-width: 334px;
  }
}

@media screen and (min-width: 680px) and (max-width: 839px) {
  .checkBack {
    max-width: 680px;
  }
}

@media screen and (min-width: 840px) and (max-width: 1267px) {
  .checkBack {
    max-width: 850px;
  }
}
