.event_container {
  border: 2px solid green;
  border-width: 0.5px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.event_container img,
.event_container h3 {
  margin-bottom: 30px; 
  text-align: center;
}

.eventButtons {
 text-align: right; 
}


.btn {
  font-size: 15px;
  font-weight: bold;
  background-color: green;
  border-radius: 2px;
  padding-right: 25px; 
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px; 
  /* width: 80px;
  height: 30px; */
  text-align: center;
  margin-right: 5px;
  margin-bottom: 10px;
}
.btn-edit {
 
  background-color: green;

}

.btn-delete {
  
  background-color: #fdd368;

}
/* 
.event_container p {
  padding-left: 15px; 
  padding-right: 15px; 
} */

tr {
  margin: 100px;
}

.event {
  margin: 10px;
  padding: 90px;
}

#eventForm {
  padding: 20px; 
  border-radius: 25px;
  border: 2px solid #f1f1f1;
  margin-top: 50px;
  margin-bottom: 50px; 
  font-size: 1.2rem;
}

#eventForm h2 {
  padding-bottom: 20px; 
  text-align: center;
}

.eventFormBody {
  padding-left: 100px; 
  padding-right: 100px; 
}

.addEventBtn {
  width: 100%;
  background: green;
  color: white; 
  margin-bottom: 20px; 
}

.registrationRequired {
  text-align: right; 
  padding: 20px; 
}

.eventDisplayTime {
  font-weight: bold;
}