.footer {
  background-color: #519b46;
}

.footer-link {
  display: inline-block;
  margin: 4vh 0;
  text-align: center;
}

.footer-link :hover {
  text-decoration: none;
  color: #fdd368;
}

.footer-list {
  color: white;
  font-family: "Montserrat";
  font-size: 14pt;
}

.pic-container {
  background: pink;
  min-width: 200px;
  height: 150px;
  border-radius: 30px;
  margin: 20px;
  overflow: hidden;
  transform: skew(20deg);
  display: flex;
  align-items: center;
}

.pic {
  width: 135%;
  position: absolute;
  left: -35px;
  transform: skewX(-20deg);
  object-fit: cover;
}

.foot_head {
  display: inline;
  margin: 20px;
}

.footerImageHeader {
  box-sizing: border-box;
  text-align: center !important;
}

.h2-heading {
  display: inline-block;
  padding-right: 30px !important;
  text-align: center !important;
}

.h2-heading h2 {
  color: black !important;
  display: inline-block !important;
  font-size: 36pt;
  font-family: "Gotham Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center !important;
}

.contact {
  color: #fff;
  text-align: center;
}

.contact :hover {
  text-decoration: none;
  color: #fdd368;
}

.footer-contact {
  padding-top: 3vh;
  text-align: center;
}

.footer-line {
  border: 0.7px solid white;
  margin-left: 20%;
  margin-right: 15%;
  margin-top: 50px;
  margin-bottom: 30px;
}

.tsocial {
  text-align: center;
}

ul.row.menu-text {
  margin: 0;
  padding: 0;
}

li.col.footer-link {
  padding: 0 5px;
}

@media (min-width: 769px) and (max-width: 2560px) {
  .tsocial {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .footer-list {
    font-size: 14px;
  }
  .footer-link {
    margin: 10px;
  }
  .svg-inline--fa.fa-facebook.fa-w-16.facebook,
  .svg-inline--fa.fa-twitter.fa-w-16.twitter,
  .svg-inline--fa.fa-instagram.fa-w-14.insta {
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    margin: 3px;
  }
  .svg-inline--fa.fa-facebook.fa-w-16.facebook {
    color: #3c579d;
    background-color: #fff;
    border: 0.5px solid #fff;
  }
  .svg-inline--fa.fa-twitter.fa-w-16.twitter {
    background-color: #52a7e7;
    color: #fff;
    padding: 3px;
    border: 1px solid #fff;
  }
  .svg-inline--fa.fa-instagram.fa-w-14.insta {
    color: #fff;
    background-image: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    padding: 3px;
    border: 1px solid #fff;
  }
}

.justify-content-md-center.contact.row {
  margin-bottom: 3px;
}
