.background{

    background-color: #eeeaea;
}


.container{
    margin-bottom:5%;
    margin-top:5%;
    
}

.flex-grid{

  display:grid;
  grid-template-columns: 1fr  1fr  1fr;
  column-gap:10px;
  margin-bottom:20px;
  margin-right:auto;
  margin-left:auto;
  text-align:center;

}


.flex-grid .col {
    background:darkgray;
    margin-bottom:10px;
    padding:15%;
    width:100%;
  }


   .col img {
   
   
   
   }

   .container-fluid{
       padding-top:5% !important;
       padding-bottom:4% !important;
       margin-bottom:5%;
   }