.overlay {
  position: relative;
  bottom: -40px;
  width: 100%;
  background: rgba(81,155,70,0.65);
  height: 238px;
}

.carousel-caption {
  position: absolute;
  right: 0 !important;
  left: 0 !important;
  z-index: 10;
  color: #fff;
  text-align: center;
}

.carousel-indicators {
  display: none;
}

.paragraph-carousel {
  font-size: 26pt;
  font-family: "Montserrat";
  text-align: left;
  color: #fff;
  padding: 0 0 0 24px;
  display: inline-block;
  float: left;
  width: 80%;
}

.title-carousel {
  font-size: 48pt;
  font-family: "Montserrat";
  float: left;
  text-align: left;
  color: #fff;
  padding: 20px 0 0 24px;
  display: inline-block;
  width: 80%;
}

.logo-div {
  padding: 8px;
  display: inline-block;
  position: relative;
  top: -7%;
  width: 192px !important;
  height: 192px !important;
  border-radius: 50%;
  margin: 17px 0;
}
