body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container-fluid {
  padding: 0 !important;
}

/* .site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */

/* .site-content {
  flex: 1 0 auto;
  padding: var( — space) var( — space) 0;
  width: 100%;
} */

/* .site-content:after {
  content: ‘\00a0’;
  display: block;
  margin-top: var( — space);
  height: 0;
  visibility: hidden;
}

/* css for the carosel component caption */

.overlay {
  position: relative;
  bottom: -40px;
  width: 100%;
  background: rgba(81, 155, 70, 0.65);
  margin: 0;
  padding: 0;
  height: 238px;
  overflow: hidden;
}

.carousel-caption {
  position: absolute;
  right: 0 !important;
  left: 0 !important;
  z-index: 10;
  color: #fff;
  text-align: center;
}

.carousel-indicators {
  position: relative !important;
  right: 0;
  bottom: 0;
}

.paragraph-carousel {
  font-size: 26pt;
  font-family: "Montserrat";
  text-align: left;
  color: #fff;
  padding: 0 0 0 24px;
  display: inline-block;
  float: left;
  width: 80%;
}

.title-carousel {
  font-size: 48pt;
  font-family: "Montserrat";
  float: left;
  text-align: left;
  color: #fff;
  padding: 20px 0 0 24px;
  display: inline-block;
  width: 80%;
}

.logo-div {
  padding: 5px;
  display: inline-block;
  position: relative;
  width: 192px !important;
  height: 192px !important;
  border-radius: 50%;
  margin: 20px 0;
}

/* Here lies code for the team.jsx; Does this belong here */
.meetTheTeam {
  /* padding: 20px; 
  margin-top: 50px;
  margin-bottom: 50px;  */
  padding: 20px 266px;
  font-size: 1.2rem;
}

.meetTheTeam h2,
.teamPhotosArea h2 {
  margin-bottom: 20px;
}
.teamPhotosArea {
  background-color: #eeeaea;
}

.teamPhotos h2 {
  padding: 20px;
}

.teamPhotosArea img {
  padding: 20px;
  height: 240px
}

.teamPhotos {
  margin: 20px;
}

/*About css */

.lowermid {
  background-color: #eeeaea;
  width: 100%;
}

.floatp {
  float: right;
  width: 40%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.floatimg {
  padding-top: 5%;
  float: left;
  width: 40%;
  padding-top: 5%;
}

.group:after {
  content: "";
  display: table;
  clear: both;
  padding: 2%;
  text-align: center;
  margin: auto;
}

.margin-bottom {
  margin-bottom: 7%;
}
