body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content {
  flex: 1 0 auto;
  padding: var( — space) var( — space) 0;
  width: 100%;
}

.site-content:after {
  content: ‘\00a0’;
  display: block;
  margin-top: var( — space);
  height: 0;
  visibility: hidden;
}


/* css for the carosel component caption */

.overlay{
  position:relative;
  bottom: -40px;
  width:100%;
  background:#519B46;
  opacity:0.53;
  margin:0;
  padding:0;
  height:238px;
}

.carousel-caption {
  position: absolute;
  right: 0%;
  left: 0;
  z-index: 10;
  color: #fff;
  text-align: center;
}

