.header-container {
  display: flex;
  justify-content: space-between;
  background: hsl(0, 0%, 77%);
  align-items: center;
}

.org-name {
  font-size: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

.nav-link {
  padding: 20px;
  color: hsl(101,43%,42%);
  height: 100%;
}

.nav-link:hover {
  background: hsl(95,60%,56%);
  color: white;
}

.nav-link-selected {
  background: hsl(101,43%,42%);
  color: white;
}

