.eventImage {
  display: flex;
  position: relative;
  justify-content: center;
  overflow: hidden;
  border-radius: 4px;
}

.eventImage img {
  display: flex;
  width: 100%;
  width: 400px;
  height: 200px;
  flex: content;
  justify-content: center;
  object-fit: contain;
  border-radius: 4px;
}

.eventImage.floating {
  float: left;
  margin: 14px;
}

@media screen and (max-width: 425px) {
  .eventImage img {
    width: 300px;
    height: 150px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .eventImage img {
    width: 330px;
    height: 165px;
  }
}
